version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - /opt/qdrant_storage:/qdrant/storage
    restart: unless-stopped
    networks:
      - ai-net

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - /opt/ollama_data:/root/.ollama
    networks:
      - ai-net

networks:
  ai-net:
    driver: bridge
